[tool.mypy]
check_untyped_defs = true
pretty = true
warn_return_any = true

[tool.ruff]
line-length = 100

[tool.ruff.lint]
select = ["ALL"]
ignore = [
  "ANN201",  # missing-return-type-undocumented-public-function
  "ANN202",  # missing-return-type-private-function
  "COM812",  # missing-trailing-comma
  "D100",    # undocumented-public-module
  "D101",    # undocumented-public-class
  "D102",    # undocumented-public-method
  "D103",    # undocumented-public-function
  "D104",    # undocumented-public-package
  "D200",    # unnecessary-multiline-docstring
  "D203",    # incorrect-blank-line-before-class
  "D205",    # missing-blank-line-after-summary
  "D212",    # multi-line-summary-first-line
  "D400",    # missing-trailing-period
  "ERA001",  # commented-out-code
  "S602",    # subprocess-popen-with-shell-equals-true
  "UP031",   # printf-string-formatting
]
